<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://DESKTOP-QRN4HLO/ELearning</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>DESKTOP-QRN4HLO</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/ELearning</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.0.41,1433;Initial Catalog=elearning;Persist Security Info=True;User ID=minamba;Password=minamba1988" Name="data source=192.168.0.41,1433;initial catalog=elearning;persist security info=True;user id=minamba;password=minamba1988" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ELearning.Models.ApplicationDbContext, ELearning" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="elearningEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=192.168.0.41,1433;Initial Catalog=elearning;User ID=minamba;Password=minamba1988" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ELearning.Models.elearningEntities, ELearning" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=192.168.0.41,1433;initial catalog=elearning;persist security info=True;user id=minamba;password=minamba1988</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="elearningEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.0.41,1433;Initial Catalog=elearning;User ID=minamba;Password=minamba1988"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>