<footer class="footerCentrer">
          <p class="text-white text-black-50">Ousraty copyrights reserved | Conditions Générales | Politique de Confidentialité | Contactez-moi | Affiliés</p>
</footer>

