<!-----------------------------------------FOOTER------------------------------------------------>
 @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">*@   

<footer class="container-fluid bg-dark col-lg-12 col-md-12 col-12 fixed-bottom ">
    <!-----------------------------------------DERNIERE SECTION AVEC LES INFO DE CONTACT + MAP LOCALISATION------------------------------------------------>
            <div class="row align-items-center pt-3" background-color:#786E6E" >
                <div class="col-12 col-md-3 col-lg-2 border-right">
                    <p class=" text-white text-center text-capitalize"><b>À propos</b></p>
                    <p class="text-center"><i><span class="glyphicon glyphicon-pencil iconColor"><span class="text-white"> E-learning est une plateforme d'apprentissage en ligne.</span></span></i></p>
                    <divhr>
                        <hr />
                    </divhr>  
                </div>

                <div class="col-12 col-md-3 col-lg-3 border-right">
                    <p class=" text-white text-center text-capitalize "><b>Contact</b></p>
                    <p class="text-center"><i><span class="glyphicon glyphicon-envelope iconColor"><span class="text-white"> webmaster.malik.ibn.anas@gmail.com</span></span></i></p>
                    <p class="text-center"><i><span class="glyphicon glyphicon-phone iconColor"><span class="text-white"> 06-24-95-75-58</span></span></i></p>
                </div>

                <divmap class="col-12 col-md-6 col-lg-6 map-container z-deph-1-half " style="height:290px;" id="map-container">
                    <p class="text-center text-white"><span class="glyphicon glyphicon-map-marker iconColor"><b class="text-white"> Nous sommes ici !</b></span></p>
                    <br />
                    @*<iframe width="930" height="230" src="https://maps.google.com/maps?width=550&amp;height=290&amp;hl=en&amp;q=8%20rue%20andr%C3%A9%20lalande%2091000%20evry+(Nous%20sommes%20ici)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" style="border:0"></iframe>*@
                     <iframe class="col-md-12 col-lg-12 col-6" width="600" height="230" src="https://maps.google.com/maps?width=930&amp;height=230&amp;hl=en&amp;q=24%2C%20avenue%20de%20stalingrad%2093240%20stains+(Title)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </divmap>
            </div>
</footer>

