
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section>
  <div class="container backgroundDefault text-white text-center">

   <img src="http://vps64363.lws-hosting.com/Img/ousraty_title.png" class="text-white text-center w-25" style="padding-top: 8vh;"></img>
      <p class="pt-5 pb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <button class="rounded-pill bg-transparent border-white pt-2 pb-2 pl-5 pr-5 font-weight-bold">Acceder aux formations</button>

      <div class="card-deck">
              <article class="card m-3 border-0  bg-transparent">
                  <div class="card-body">
                      <div>
                          <img class="d-block w-100" src="http://vps64363.lws-hosting.com/Img/card1.png" />
                      </div>
                      @*<div class="row mt-2 bg-warning text-center shadow-lg" style="opacity:0.9;">
                          <h3 class="text-white text-center ml-3">Nos Formations</h3>
                      </div>*@
                      </div>
              </article>
          <article class="card m-3  border-0 bg-transparent">
              <div class="card-body">
                  <div>
                      <img class="d-block w-100" src="http://vps64363.lws-hosting.com/Img/card2.png" ></img>
                  </div>
                  @*<div class="row mt-2 bg-warning text-center shadow-lg" style="opacity:0.9;">
                      <h3 class="text-white text-center ml-3">Nos Formations</h3>
                  </div>*@
              </div>
          </article>
          <article class="card m-3 border-0 bg-transparent">
              <div class="card-body">
                  <div>
                      <img class="d-block w-100" src="http://vps64363.lws-hosting.com/Img/card3.png" />
                  </div>
                  @*<div class="row mt-2 bg-warning text-center shadow-lg" style="opacity:0.9;">
                      <h3 class="text-white text-center ml-3">Nos Formations</h3>
                  </div>*@
              </div>
          </article>
          
      </div>





  </div>

</section>


