
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section>
  <div class="container-fluid backgroundDefault text-white text-center pb-5">

   <img src="http://vps64363.lws-hosting.com/Img/ousraty_title.png" class="text-white text-center w-25" style="padding-top: 8vh;"/>
      <p class="pt-5 pb-5" style="font-size:1.6vw;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
      <a  href="@Url.Action("Index", "Home")" class="text-white rounded-pill bg-transparent border-white shadow-none pt-3 pb-3 pl-5 pr-5 border" style="font-size:1.7vw;">Acceder aux formations</a>

      <div class="card-deck pt-5 pb-5">
              <article class="card border-0 bg-transparent">
                  <div class="card-body">                
                          <img class="w-75" src="http://vps64363.lws-hosting.com/Img/card1.png"/>
                           <p class="centrer2 text-white font-weight-bold" style="font-size:1.5vw;">Nos Formations</p>
                           <a class="bg-transparent border-white rounded-pill pt-3 pb-3 pl-3 pr-3 centrer border" style="position:absolute; font-size:0.8vw;"> Acceder aux formations</a>
                      </div>
              </article>
          <article class="card border-0 bg-transparent">
              <div class="card-body">
                      <img class="w-75" src="http://vps64363.lws-hosting.com/Img/card2.png" />
                      <p class="centrer2 text-white font-weight-bold" style="font-size:1.5vw;">La Chaîne Ousraty</p>
                      <a class="bg-transparent border-white rounded-pill pt-3 pb-3 pl-5 pr-5 centrer border" style="position:absolute;  font-size:0.8vw;"> Acceder à la chaîne</a>
              </div>
          </article>
          <article class="card border-0 bg-transparent">
              <div class="card-body">
                      <img class="w-75" src="http://vps64363.lws-hosting.com/Img/card3.png" />
                  <p class="centrer2 text-white font-weight-bold" style="font-size:1.5vw;">Le Blog Ousraty</p>
                  <a class="bg-transparent border-white rounded-pill pt-3 pb-3 pl-5 pr-5 centrer border" style="position:absolute;  font-size:0.8vw;"> Acceder au Blog</a>

              </div>
          </article>      
      </div>
  </div>
</section>


