
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>


<header>
    <div class="row text-center text-white">
        <h1 class="col-md-12 col-sm-4 padding200"><b class="text-info">V</b>erifiez votre E-mail</h1>
    </div>
</header>


<h2>@ViewBag.Title.</h2>
<div class="row col-md-12 centered" style="position:absolute;">
    <div class=" container centered">
        <div class="row">
            <div class="col-md-12 align-items-center loginHome text-white">

                <div>
                    <p>
                        Vérifiez votre adresse de messagerie pour réinitialiser votre mot de passe.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

